 <div class="container">

        <!-- Jumbotron Header -->
        <header class="jumbotron hero-spacer">
	        <h2>Welcome to Tabraza!</h2>
	        <p><p><em>Take your dream courses from the world's top universities</em></p></p>
        </header>

        <hr>