<h1><%= @curriculum.name %></h1>

<br />

<div>

	<ul>

		<% @courses.each do |course| %>
			<p><b><%= link_to course.name, {controller: "course", action: "show", id: course} %></b>, <%= course.providor.name %></p>
		<% end %>

	</ul>

</div>
